@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
  --btn-primary: #1195c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  background: #ece6d9;
  padding: 2rem 1rem 0 1rem;
}

@font-face {
  font-family: HyliaSerif;
  src: url("HyliaSerifBeta-Regular.otf") format("opentype")
}

h1 {
  font-family: HyliaSerif;
  letter-spacing: 4px;
}

